*{
    box-sizing: border-box;
}
 
body{
    background-image: url(https://cdn.pixabay.com/photo/2017/02/01/14/32/seamless-2030343_960_720.jpg);
    background-color: rgb(122, 122, 224);
    font-family: sans-serif;
}
 
.wrapper{
    width: 800px;
    margin: 0 auto;
    background-color: rgb(21, 32, 43);
    border-radius: 20px;
}
 
header{
    padding: 40px;
    overflow: hidden;
}
 
header > #logo{
    font-size: 2em;
    float: left;
}
 
main{
    overflow: hidden;
    padding: 30px;
}
 
section{
    width: 45%;
    float: left;
}
 
aside{
    width: 45%;
    float: right;
}
 
footer{
    padding: 20px;
    border-top: 1px solid grey;
}
 
nav{
    float: right;
}
 
article{
    padding: 30px 0;
    border-bottom: 1px solid grey; 
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}
 
article:last-child{
    border-bottom: 0px
}
 
h3{
    text-align: center;
}
 
a{
    color: white;
}
